{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   Questionnaire
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'questionnaire/style.css' %}">
{% endblock %}

{% block content %}
    <div class="lottery-header">
        <label>Consider again the following lottery ticket</label>
    </div>
    <div class="lottery">
        <p>
            {% if treatment == 'cp' %}
                With a probability p between {{ q2_lottery.low }}% and {{ q2_lottery.high }}% you get a value of
                {{ q2_lottery.value }},<br> otherwise you get 0.
            {% else %}
                With a probability of {{ q2_lottery.p }}% you get a value v between {{ q2_lottery.low }} and
                {{ q2_lottery.high }}, otherwise you get 0.
            {% endif %}
        </p>
    </div>
    <div>
        <ol start="2">
            <li>
                Suppose you get a signal of {{ q2.s }}, therefore the Selected
                {% if treatment == 'cp' %}Probability{% else %}Value{% endif %} is between
                {{ q2.low }}{% if treatment == 'cp' %}%{% endif %} and
                {{ q2.high }}{% if treatment == 'cp' %}%{% endif %}.
                {% formfield player.q2 label="What is your best guess about the value?" %}
            </li>
            <li>
                Suppose, in a future experiment, one participant would receive a signal of {{ q3.s }} for the above lottery ticket.
                Given a signal of {{ q3.s }}, the Selected
                {% if treatment == 'cp' %}Probability{% else %}Value{% endif %} is between
                {{ q3.low }}{% if treatment == 'cp' %}%{% endif %} and
                {{ q3.high }}{% if treatment == 'cp' %}%{% endif %}.
                {% formfield player.q3 label="What would you advise this participant to bid?" %}
                {% formfield player.q3exp label="Why?" %}
            </li>
            <li>
                {% formfield player.q4 label="What general bidding rule given a signal do you think other people followed in the experiment?" %}
            </li>
        </ol>
    </div>
    {% next_button %}

{% endblock %}
