{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   Questionnaire
{% endblock %}

{% block content %}
    <div>
        {% formfield player.gender label="Gender" %}
    </div>
    <div>
        {% formfield player.age label="age" %}
    </div>
    <div>
        {% formfield player.major label="major" %}
    </div>
    <div>
        <label>Consider the following lottery ticket</label>
    </div>
    <div>
        <p>
            {% if treatment == 'cp' %}
                With a probability p between {{ q1_lottery.low }}% and {{ q1_lottery.high }}% you get a value of
                {{ q1_lottery.value }},<br> otherwise you get 0.
            {% else %}
                With a probability of {{ q1_lottery.p }}% you get a value v between {{ q1_lottery.low }} and
                {{ q1_lottery.high }}, otherwise you get 0.
            {% endif %}
        </p>
    </div>
    <div>
        <ol type="1">
            <li>
                Signals are at most 4 units away from the Selected Probability. State your bid for the following signals and explain your strategy.
                <ol type="a">
                    <li>
                        You receive a signal of {{ q1a.s }}, therefore the Selected
                        {% if treatment == 'cp' %}Probability{% else %}Value{% endif %} is between
                        {{ q1a.low }}{% if treatment == 'cp' %}%{% endif %} and
                        {{ q1a.high }}{% if treatment == 'cp' %}%{% endif %}.
                        {% formfield player.q1a label="You bid" %}
                    </li>
                    <li>
                        You receive a signal of {{ q1b.s }}, therefore the Selected
                        {% if treatment == 'cp' %}Probability{% else %}Value{% endif %} is between
                        {{ q1b.low }}{% if treatment == 'cp' %}%{% endif %} and
                        {{ q1b.high }}{% if treatment == 'cp' %}%{% endif %}.
                        {% formfield player.q1b label="You bid" %}
                    </li>
                    <li>
                        You receive a signal of {{ q1c.s }}, therefore the Selected
                        {% if treatment == 'cp' %}Probability{% else %}Value{% endif %} is between
                        {{ q1c.low }}{% if treatment == 'cp' %}%{% endif %} and
                        {{ q1c.high }}{% if treatment == 'cp' %}%{% endif %}.
                        {% formfield player.q1c label="You bid" %}
                    </li>
                    <li>
                        You receive a signal of {{ q1d.s }}, therefore the Selected
                        {% if treatment == 'cp' %}Probability{% else %}Value{% endif %} is between
                        {{ q1d.low }}{% if treatment == 'cp' %}%{% endif %} and
                        {{ q1d.high }}{% if treatment == 'cp' %}%{% endif %}.
                        {% formfield player.q1d label="You bid" %}
                    </li>
                    <li>
                        You receive a signal of {{ q1e.s }}, therefore the Selected
                        {% if treatment == 'cp' %}Probability{% else %}Value{% endif %} is between
                        {{ q1e.low }}{% if treatment == 'cp' %}%{% endif %} and
                        {{ q1e.high }}{% if treatment == 'cp' %}%{% endif %}.
                        {% formfield player.q1e label="You bid" %}
                        {% formfield player.q1exp label="Explain why you chose these bids." %}
                    </li>
                </ol>
            </li>
        </ol>
    </div>
    <div>
        <label>Consider the following lottery ticket</label>
    </div>
    <div>
        <p>
            {% if treatment == 'cp' %}
                With a probability p between {{ q2_lottery.low }}% and {{ q2_lottery.high }}% you get a value of
                {{ q2_lottery.value }},<br> otherwise you get 0.
            {% else %}
                With a probability of {{ q2_lottery.p }}% you get a value v between {{ q2_lottery.low }} and
                {{ q2_lottery.high }}, otherwise you get 0.
            {% endif %}
        </p>
    </div>
    <div>
    <ol start="2">
        <li>
            Suppose you get a signal of {{ q2.s }}, therefore the Selected
            {% if treatment == 'cp' %}Probability{% else %}Value{% endif %} is between
            {{ q2.low }}{% if treatment == 'cp' %}%{% endif %} and
            {{ q2.high }}{% if treatment == 'cp' %}%{% endif %}.
            {% formfield player.q2 label="What is your best guess about the value?" %}
        </li>
        <li>
            Suppose you get a signal of {{ q3.s }}, therefore the Selected
            {% if treatment == 'cp' %}Probability{% else %}Value{% endif %} is between
            {{ q3.low }}{% if treatment == 'cp' %}%{% endif %} and
            {{ q3.high }}{% if treatment == 'cp' %}%{% endif %}.
            {% formfield player.q3 label="What would you advise this participant to bid?" %}
            {% formfield player.q3exp label="Why?" %}
        </li>
        <li>
            {% formfield player.q4 label="What general bidding rule given a signal do you think other people followed in the experiment?" %}
        </li>
        <li>
            <span>Suppose that you could choose to play one of the following two lottery tickets. Which one would you prefer?</span>
            <ol type="A">
                <li>Lottery A:
                    <span>
                        {% if treatment == 'cp' %}
                            With a probability p between {{ q5a_lottery.low }}% and {{ q5a_lottery.high }}% you get a value of
                            {{ q5a_lottery.value }},<br> otherwise you get 0.
                        {% else %}
                            With a probability of {{ q5a_lottery.p }}% you get a value v between {{ q5a_lottery.low }} and
                            {{ q5a_lottery.high }}, otherwise you get 0.
                        {% endif %}
                    </span>
                </li>
                <li>Lottery B:
                    <span>
                        {% if treatment == 'cp' %}
                            With a probability of {{ q5b_lottery.p }}% you get a value v between {{ q5b_lottery.low }} and
                            {{ q5b_lottery.high }}, otherwise you get 0.
                        {% else %}
                            With a probability p between {{ q5b_lottery.low }}% and {{ q5b_lottery.high }}% you get a value of
                            {{ q5b_lottery.value }},<br> otherwise you get 0.
                        {% endif %}
                    </span>
                </li>
            </ol>
            <p>
                {% formfield player.q5 label="" %}
                {% formfield player.q5exp label="Explain your choice." %}
            </p>

        </li>
        <li>
            <span>Suppose that you could choose to <em>bid</em> in an auction for one of the two lottery tickets displayed above. Which one would you prefer?</span>
            <p>
                {% formfield player.q6 label="" %}
                {% formfield player.q6exp label="Explain your choice." %}
            </p>

        </li>
    </ol>
    </div>

    {% next_button %}

{% endblock %}
