{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Round {{ display_round_number }}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'lottery/bid.css' %}">
{% endblock %}

{% block content %}
<div>
  <h4 class="text-center lottery-header"><u>Your Starting Balance</u></h4>
  <p class="text-center">
    {{ endowment }}
  </p>
</div>
<div class="lottery-header">
  <h4 class="text-center"><u>Lottery of type {{ lottery_display_type }}</u></h4>
</div>
<div>
  <p>Consider the following lottery ticket with two possible prizes,
    0 and a value v.</p>
</div>
<div class="lottery">
  <p class="text-center">
    {% if treatment == 'cv' %}
    With a probability of {{ p }}% you get a value v between {{ alpha }} and {{ beta }} credits,
    <br>otherwise you get 0 credits.
    {% else %}
    With a probability p between {{ alpha }}% and {{ beta }}%, you get a value v = {{ value }} credits, <br>otherwise
    you get 0 credits.
    {% endif %}
  </p>
</div>

<div>
  <h4 class="text-center lottery-header"><u>Your Signal</u></h4>
  <p class="text-center">
    {% if treatment == 'cv' %}
    Your signal about v is: {{ signal }}
    {% else %}
    Your signal about p is: {{ signal }}%
    {% endif %} (with x = {{ epsilon }}).
  </p>
</div>

<div>
  <h5 class=""><u>Signal Interpretation</u></h5>
  <p>
    {% if treatment == 'cv' %}
    The Selected Value v is at most {{ epsilon }} units away from your signal about v.
    Given your signal, the Selected Value must lie between {{ min_signal }} and {{ max_signal }}.
    {% else %}
    The Selected Probability p is at most {{ epsilon }} percentage points away from your signal about p.
    <br>
    Given your signal, the Selected Probability must lie between {{ min_signal }}% and {{ max_signal }}%.
    {% endif %}
  </p>
</div>

<div class="valuation-grid-wrapper">
  <div></div>
  <div class="text-center">
    <h5>Minimum Worth</h5>
  </div>
  <div class="text-center">
    <h5>Your Willingness to Pay</h5>
  </div>
  <div class="text-center">
    <h5>Maximum Worth</h5>
  </div>
  <div class="text-center">
    <h5>Worth of the Lottery</h5>
  </div>
  <div>
    <input type="number" id="id_min_worth" name="min_worth" min="0" max="100" step="1" class="center-input form-control"
      value="{{ form.min_worth.value|default_if_none:"" }}" placeholder="" data-for="min-selected-probability" required>

    {% if form.min_worth.errors %}
    <div class="alert alert-danger">
      {{ form.min_worth.errors }}
    </div>
    {% endif %}
  </div>
  <div>
    <input type="number" id="id_bid" name="bid" min="{{ min_bid }}" max="{{ lottery_max_value }}" step="1"
      class="center-input form-control" value="{{ form.bid.value|default_if_none:"" }}" placeholder="" required>

    {% if form.bid.errors %}
    <div class="alert alert-danger">
      {{ form.bid.errors }}
    </div>
    {% endif %}
  </div>
  <div>
    <input type="number" id="id_max_worth" name="max_worth" min="0" max="100" step="1" class="center-input form-control"
      value="{{ form.max_worth.value|default_if_none:"" }}" placeholder="" data-for="max-selected-probability" required>

    {% if form.max_worth.errors %}
    <div class="alert alert-danger">
      {{ form.max_worth.errors }}
    </div>
    {% endif %}
  </div>
  <div class="selected-probability">
    {% if is_probability_treatment %}
    <h5>Selected Probability</h5>
    {% else %}
    <h5>Selected Value</h5>
    {% endif %}
  </div>
  <div class="text-center selected-probability"><span id="min-selected-probability"></span></div>
  <div></div>
  <div class="text-center selected-probability"><span id="max-selected-probability"></span></div>
</div>

{% next_button %}

<div class="modal" id="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Notification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your willingness to pay is larger than the highest possible outcome of the lottery.</p>
        <p>Please submit a reasonable willingness to pay that does not exceed the highest possible outcome of the
          lottery.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-btn btn btn-secondary" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  function isInteger(valStr) {
    return !isNaN(valStr) && Number.isInteger(parseFloat(valStr));
  }

  function displayMappedValue(event) {
    var correspondingElement = document.getElementById(event.target.dataset.for);

    var worth = parseInt(event.target.value);
    if (!isInteger(worth)) {
      correspondingElement.textContent = ""
      return;
    }

    var suffix = (js_vars.is_probability_treatment) ? "%" : ""
    correspondingElement.textContent = parseInt((worth / js_vars.mapping_divisor) * 100) + suffix
  }

  document.getElementById("id_min_worth").addEventListener("keyup", displayMappedValue)
  document.getElementById("id_max_worth").addEventListener("keyup", displayMappedValue)

  document.getElementById('id_bid').addEventListener("keyup", (event) => {
    var max = js_vars.lottery_max_value;
    let source = event.target;
    if (source.value > max) {
      $('#modal').modal('show');
    }
  });

</script>
{% endblock %}
