{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Quiz for Part One (Page 2)
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'questionnaire/style.css' %}">
{% endblock %}

{% block content %}
    <div class="lottery-header">
        <label>Following questions are based on the lottery ticket below:</label>
    </div>
    <div class="lottery">
        <p>
            {% if treatment == 'cp' %}
                With a probability between 20% and 40% you get a value of 70,<br> otherwise you get 0.
            {% else %}
                With a probability of 70% you get a value between 20 and 40, otherwise nothing.
            {% endif %}
        </p>
    </div>

    <div>
        <label>
            5. {{ questions.q5.question }}
        </label>
        <ul>
            {%  for label in questions.q5.labels %}
                <li>
                    <label for="id_q5_{{ forloop.counter0 }}">
                        <input
                                type="checkbox"
                                name="q5"
                                value="{{ forloop.counter }}"
                                id="id_q5_{{ forloop.counter0 }}"
                                class="form-check-input"
                                {% if form.q5.value != None and forloop.counter|stringformat:"i" in form.q5.value %}
                                checked
                                {% endif %}
                        />
                        {{ label }}
                    </label>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if form.q5.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in form.q5.errors %}
                    <li>{{ error|striptags }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    <div>
        <label>
            6. {{ questions.q6.question }}
        </label>
        <ul>
            {%  for label in questions.q6.labels %}
                <li>
                    <label for="id_q6_{{ forloop.counter0 }}">
                        <input
                                type="checkbox"
                                name="q6"
                                value="{{ forloop.counter }}"
                                id="id_q6_{{ forloop.counter0 }}"
                                class="form-check-input"
                                {% if form.q6.value != None and forloop.counter|stringformat:"i" in form.q6.value %}
                                checked
                                {% endif %}
                        />
                        {{ label }}
                    </label>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if form.q6.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in form.q6.errors %}
                    <li>{{ error|striptags }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    {% next_button %}

{% endblock %}
