{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Quiz for Part One
{% endblock %}

{% block content %}
    <div>
        <label>
            1. {{ questions.q1.question }}
        </label>
        <ul>
            {%  for label in questions.q1.labels %}
                <li>
                    <label for="id_q1_{{ forloop.counter0 }}">
                        <input
                                type="checkbox"
                                name="q1"
                                value="{{ forloop.counter }}"
                                id="id_q1_{{ forloop.counter0 }}"
                                class="form-check-input"
                                {% if form.q1.value != None and forloop.counter|stringformat:"i" in form.q1.value %}
                                    checked
                                {% endif %}
                        />
                        {{ label }}
                    </label>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if form.q1.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in form.q1.errors %}
                    <li>{{ error|striptags }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div>
        <label>
            2. {{ questions.q2.question }}
        </label>
        <ul>
            {%  for label in questions.q2.labels %}
                <li>
                    <label for="id_q2_{{ forloop.counter0 }}">
                        <input
                                type="checkbox"
                                name="q2"
                                value="{{ forloop.counter }}"
                                id="id_q2_{{ forloop.counter0 }}"
                                class="form-check-input"
                                {% if form.q2.value != None and forloop.counter|stringformat:"i" in form.q2.value %}
                                checked
                                {% endif %}
                        />
                        {{ label }}
                    </label>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if form.q2.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in form.q2.errors %}
                    <li>{{ error|striptags }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% next_button %}

{% endblock %}
