{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'payoff/outcome.css' %}">
{% endblock %}

{% block content %}
    <div id="outcome-header">
        <h3 class="text-center">Payoff in Part 1 and 2</h3>
    </div>
    <div class="text-center item">
        <div class="sp1"><span>Round {{ part_1_2_payment_round }} from part {{ phase }} was randomly selected.</span></div>
        <div>
            <span>
            {% if phase != 1 %}
            Lottery {{ lottery_display_type }} was shown {% if phase == 2 and stage == 1 %} without
            {% else %} with {% endif %} a signal.
            {% endif %}
            </span>
        </div>

    </div>

    <div class="outcome-header lottery-header">
        <h4 class="text-center">Outcome in Round {{ part_1_2_payment_round }}</h4>
    </div>

    <div class="two-column-container">
        <div class="item text-center">
            <h5>Your Willingness to Pay</h5>
            <p>{{ bid }}</p>
        </div>
        <div class="item text-center">
            <h5>Lottery Price</h5>
            <span>{{ computer_random_val }}</span>
        </div>
    </div>
    <div class="text-center">
        <span>
        {% if winner %}
            You bought the lottery.
        {% else %}
            You did not buy the lottery.
        {% endif %}
        </span>
    </div>
    <div class="lottery-header text-center">

    {% if phase == 2 %}
        {% if treatment == 'cv' %}
        <h4>Actual Lottery with Selected Value</h4>
        {% else %}
            <h4>Actual Lottery with Selected Probability</h4>
        {% endif %}

        <p class="sp2">
            {% if treatment == 'cv' %}
                The Selected Value was {{ value }}. Therefore, the actual lottery ticket was:
            {% else %}
                The Selected Probability was {{ p }}%. Therefore, the actual lottery ticket was:
            {% endif %}
        </p>
    {% else %}
        <h4>The lottery was:</h4>
    {% endif %}
    </div>
    <div class="text-center">
        <p>
            With a probability p of {{ p }}% you get a value v of {{ value }} credits, <br>otherwise you get 0 credits.
        </p>
    </div>

    <div id="played-outcome" class="text-center">
        <p>The lottery was played and its outcome was {{ outcome }} credits.</p>
    </div>

    <div id="earnings-header" class="text-center">
        <h4>Your Earnings</h4>
        <p>Your earnings for this round are {{ total_payoff }}.</p>
    </div>
    {% next_button %}
{% endblock %}


