{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'payoff/outcome.css' %}">
{% endblock %}

{% block content %}
    <div id="outcome-header">
        <h3 class="text-center">Payoff in Part 1</h3>
    </div>
    <div class="text-center">
        <span>
            The computer selected round {{ round_number }} for Payoff.
        </span>
    </div>

    <div class="outcome-header lottery-header">
        <h4 class="text-center">Outcome in Round {{ payment_round }}</h4>
    </div>

    <div class="two-column-container">
        <div class="item text-center">
            <h5>Your Bid</h5>
            <p>{{ bid }}</p>
        </div>
        <div class="item text-center">
            <h5>Highest Bid</h5>
            <span>{{ highest_bid }}</span>
        </div>
    </div>
    <div class="text-center">
        <span>
        {% if tie %}
            {% if winner %}
                You and at least one other bidder submitted identical highest bids. The computer randomly selected
                you as the winner.
            {% else %}
                You and at least one other bidder submitted identical highest bids. The computer randomly selected
                one other bidder
                as the winner.
            {% endif %}
        {% else %}
            {% if winner %}
                You won the auction.
            {% else %}
                You did not win the auction.
            {% endif %}
        {% endif %}
        </span>
    </div>
    <div id="lottery-ticket-header" class="text-center">
        {% if treatment == 'cv' %}
        <h4>Actual Lottery with Selected Value</h4>
        {% else %}
            <h4>Actual Lottery with Selected Probability</h4>
        {% endif %}
        <p>
            {% if treatment == 'cv' %}
                The Selected Value was {{ value }}. Therefore, the actual lottery ticket was:
            {% else %}
                The Selected Probability was {{ p }}%. Therefore, the actual lottery ticket was:
            {% endif %}
        </p>
    </div>
    <div class="text-center">
        <p>
            With a probability of {{ p }}% you get a value of {{ value }}, <br>otherwise you get 0.
        </p>
    </div>

    <div id="played-outcome" class="text-center">
        <p>The lottery was played and its outcome was {{ outcome }}.</p>
    </div>

    <div id="earnings-header" class="text-center">
        <h4>Your Earnings</h4>
        <p>Your earnings for this round where {{ payoff }}.</p>
    </div>
    {% next_button %}
{% endblock %}


