{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Round {{ round_number }}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'auction/bid.css' %}">
{% endblock %}

{% block content %}
    <div class="grid-container">
        <div class="header-item">
            <p>text here</p>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="card-body">
                    <div class="underscored">
                        <h5>Lottery</h5>
                    </div>
                    {% include 'auction/lottery.html' %}
                </div>
            </div>
        </div>

        <div class="grid-bid-container">
            <div class="signal-update-container">
                <div class="text-center">
                    <h5>Your Signal</h5>
                </div>

                <div class="text-center">
                    <h5>{{ signal }}</h5>
                </div>
            </div>

            <div class="title-item">
                <h4>Your Bid</h4>
            </div>
            <div>
                <input
                        type="number"
                        id="id_bid"
                        name="bid"
                        min="{{ min_bid }}"
                        max="{{ max_bid }}"
                        step="1"
                        class="center-input form-control"
                        value="{{ form.bid.value|default_if_none:"" }}"
                        placeholder="Enter Your Bid" required>

                <small id="bidhelp" class="form-text text-muted">Your bid must be between {{ min_bid }}
                    and {{ max_bid }}.
                </small>
                {% if form.bid.errors %}
                    <div class="alert alert-danger">
                        {{ form.bid.errors }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% next_button %}
{% endblock %}
