{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Round {{ display_round_number }}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'auction/bid.css' %}">
{% endblock %}

{% block content %}
    <div>
        <p>Consider the following lottery ticket with two possible prizes,
            0 and a value v.</p>
    </div>

    <div class="lottery-header">
        <h4 class="text-center"><u>Lottery of type {{ lottery_display_type }}</u></h4>
    </div>
    <div class="lottery">
        <p class="text-center">
            {% if treatment == 'cv' %}
                With a probability of {{ p }}% you get a value v between {{ alpha }} and {{ beta }}, <br>otherwise you
                get 0.
            {% else %}
                With a probability p between {{ alpha }}% and {{ beta }}%, you get a value of {{ value }}, <br>otherwise
                you get 0.
            {% endif %}
        </p>
    </div>

    <div>
        <h4 class="text-center lottery-header"><u>Your Signal</u></h4>
        <p class="text-center">
            {% if treatment == 'cv' %}
                Your signal about v is: {{ signal }}.
            {% else %}
                Your signal about p is: {{ signal }}%.
            {% endif %}
        </p>
    </div>

    <div>
        <h5 class=""><u>Signal Interpretation</u></h5>
        <span>
            {% if treatment == 'cv' %}
                Your signal about v is at most {{ epsilon }} units away from the Selected Value v. <br>
                Given your signal, the Selected Value must lie between {{ min_signal }} and {{ max_signal }}.
            {% else %}
                Your signal about p is at most {{ epsilon }} percentage points away from the Selected Probability p.
                <br>
                Given your signal, the Selected Probability must lie between {{ min_signal }}% and {{ max_signal }}%.
            {% endif %}
        </span>
    </div>

    <div class="grid-bid-container">
        <div class="text-center lottery-header">
            <h4><u>Your Valuation</u></h4>
        </div>
        <div>
            <input
                    type="number"
                    id="id_bid"
                    name="bid"
                    min="{{ min_bid }}"
                    max="{{ max_bid }}"
                    step="1"
                    class="center-input form-control"
                    value="{{ form.bid.value|default_if_none:"" }}"
                    placeholder="Enter Your Valuation" required>

            {% if form.bid.errors %}
                <div class="alert alert-danger">
                    {{ form.bid.errors }}
                </div>
            {% endif %}
        </div>
    </div>

    {% next_button %}

    <div class="modal" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Notification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Your valuation is larger than the highest possible outcome of the lottery.</p>
                    <p>Would you like to proceed with this value?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary otree-btn-next ">Yes</button>
                    <button type="button" class="modal-btn btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var max = {{ max_outcome|json }};

            function entryMonitor(event) {
                let source = event.target;
                if (source.value > max) {
                    $('#modal').modal('show');
                }
                console.log(source.value);
            }

            document.getElementById('id_bid').addEventListener('keyup', entryMonitor);
        });
    </script>
{% endblock %}
