{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions for Part 1
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    <p>In each round you will see a lottery ticket.</p>

    <p>You will also observe some signal about the partially unknown component of the lottery. Below we will tell you how to correctly interpret your signal.</p>

    <p>State your valuation for the lottery.</p>

    <p>You will buy the lottery ticket if the random price falls below your valuation.</p>
    {% next_button %}
{% endblock %}
