{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions for Stage 1
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    <p>In each round you will see a lottery that is auctioned.</p>

    <p>You will also observe some signal about the partially unknown component of the lottery. Below we will tell you how to correctly interpret your signal.</p>

    <p>You and three other bidders will participate in the auction.</p>

    <p>Place a bid for the lottery.</p>

    <p>The bidder with the highest bid will win the lottery ticket.</p>
    {% next_button %}
{% endblock %}
