{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Lottery Update
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    <p>
        In the next {{ rounds_per_lottery }} rounds we will show you a different type of lottery.
    </p>
    <p>
        The computer has produced independently from each other {{ rounds_per_lottery }} lottery tickets of this type. <br>
        In each of the next {{ rounds_per_lottery }} rounds we will show you one of these {{ rounds_per_lottery }} lottery tickets.
    </p>
    {% next_button %}
{% endblock %}
