{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Lottery Update
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    <p>
        We will now show you a different type of lottery.
    </p>
    <p>
        The computer has produced independently from each other {{ rounds_per_lottery }} lottery tickets of this type. <br>
        In each of the following screens we ask you how much you are willing to pay for one of these {{ rounds_per_lottery }}
        lottery tickets.
    </p>
    {% next_button %}
{% endblock %}
