{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Round {{ display_round_number }}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'auction/bid.css' %}">
{% endblock %}

{% block content %}
    <div>
        <h4 class="text-center lottery-header"><u>Your Starting Balance</u></h4>
        <p class="text-center">
            {{ endowment }}
        </p>
    </div>

    <div class="lottery-header">
        <h4 class="text-center"><u>Lottery of type {{ lottery_display_type }}</u></h4>
    </div>
    <div>
        <p>Consider the following lottery ticket with two possible prizes,
            0 and a value v.</p>
    </div>
    <div class="lottery">
        <p class="text-center">
            {% if treatment == 'cv' %}
                With a probability of {{ p }}% you get a value v between {{ alpha }} and {{ beta }} credits,
                <br>otherwise you get 0 credits.
            {% else %}
                With a probability p between {{ alpha }}% and {{ beta }}%, you get a value v = {{ value }} credits, <br>otherwise
                you get 0 credits.
            {% endif %}
        </p>
    </div>

    <div class="grid-bid-container">
        <div class="text-center lottery-header">
            <h4><u>Your Willingness to Pay</u></h4>
        </div>
        <div>
            <input
                    type="number"
                    id="id_bid"
                    name="bid"
                    min="{{ min_bid }}"
                    max="{{ max_outcome }}"
                    step="1"
                    class="center-input form-control"
                    value="{{ form.bid.value|default_if_none:"" }}"
                    placeholder="Enter how much you are willing to pay for this lottery" required>

            {% if form.bid.errors %}
                <div class="alert alert-danger">
                    {{ form.bid.errors }}
                </div>
            {% endif %}
        </div>
    </div>

    {% next_button %}

    <div class="modal" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Notification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Your willingness to pay is larger than the highest possible outcome of the lottery.</p>
                    <p>Please submit a reasonable willingness to pay that does not exceed the highest possible outcome of the lottery.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal-btn btn btn-secondary" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var max = {{ max_outcome|json }};

            function entryMonitor(event) {
                let source = event.target;
                if (source.value > max) {
                    $('#modal').modal('show');
                }
                console.log(source.value);
            }

            document.getElementById('id_bid').addEventListener('keyup', entryMonitor);
        });
    </script>
{% endblock %}
